<% users.each do |user| %>
    <div class="clearfix user-cell user_eachveiw">
      <%= gravatar_for2 user %>

        <ul class="list-inline">
          <li>
              <%= link_to user.name, user_path(user) %>
          </li>
          <li>
            <span class="label label-info">
              <%= user.area %>
            </span>
          </li>
        </ul>

    </div>

<% end %>