<% @page_title = "[フォロワー]　一覧" %>
  <div class="bg-success">
    <h3><%= @page_title %></3>
  </div>
    <br />
    <div class="panel panel-default">
      <% if @users.present? %>
        <div class="panel-heading">
          ユーザー
        </div>

        <div class="panel-body">
          <%= render 'users', users: @users %>
        </div>

      <% else %>
        <p>フォローされるユーザーはいません</p>
      <% end %>
    </div>