<% @page_title = "[Follower]　フォロワー一覧" %>
  <div class="bg-success">
    <h3><%= @page_title %></h3>
  </div>
    <br />
    <p><%= page_entries_info @users %></p>

    <div class="panel panel-default">
      <% if @users.present? %>
        <div class="panel-heading">
          ユーザー
        </div>

        <div class="panel-body">
          <%= render 'users', users: @users %>
        </div>

      <% else %>
        <p>フォローされるユーザーはいません</p>
      <% end %>

    </div>

    <div class="pagenation">
      <%= paginate @users %>
    </div>