<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>email</th>
            <th>area</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.email %></td>
            <td><%= @user.area %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>